# Flutter
build/
.dart_tool/
.packages
.pub/
.metadata

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Android
android/app/build/
android/.gradle/
android/gradle/
android/gradlew*
android/local.properties

# Web builds locales
web/assets/AssetManifest.bin
web/assets/AssetManifest.json
web/assets/FontManifest.json
web/assets/NOTICES
web/main.dart.js
web/flutter_service_worker.js
web/version.json

# Logs
*.log
